
:root {
    --dark-orange: #e76f51;
    --orange: #f4a261;
    --yellow: #e9c46a;
    --cyan: #2a9d8f;
    --dark-blue: #264653;
}

#game-area {
    color:var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    width:600px;
    margin: 1vh auto 0 auto;
    border: solid var(--cyan);
    background: var(--yellow);
}

.half-areas div{
    margin:0 0 20px 5px;
}

#left-side-area {
    display:grid;
    grid-template-rows:100px 350px 150px;
}

#interactive-button {
    position: relative;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:2em;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background: var(--yellow);
    padding: 10px 10px 10px 10px;
    border:solid 10px var(--cyan);
}

.interactive-button-button {
    box-shadow: 0px 5px 0px 3px var(--dark-orange);
}

.interactive-button-button:hover {
    box-shadow: 0px 5px 0px 3px  var(--orange);
}

.interactive-button-button:active {
    top: 3px;   
    box-shadow: 0px 2px 0px 3px  var(--orange);
}


#cpu-panel {
    position: relative;
    margin-top:0;
    bottom:-45px;
    width:100%;
    height: 300px;
}

#cpu-icon {
    position: relative;
    bottom:1px;
    width:100%;
    height: 300px;
}

#cpu-label {
    display:grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-gap:0;
    margin-top:20px;
}

#cpu-label div{
    text-align: center;
    height:100%;
    width:100%;
    margin: 0 0 0 0;
}

#scoreboard-header {
    display: grid;
    grid-template-columns: 2fr 10px 2fr;
}

#scoreboard {
    display: grid;
    grid-column-gap: px;
    grid-template-columns: 2fr 10px 2fr;
    
}

.score-display{
    font-size: 40px;
}

#right-side-area {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.player-panel {
    position: relative;
    height: 75px;
    width: 75px;
    margin: 20px 20px 20px 20px;
}

.player-panel:active {
    width:65px;
    height:65px;
    margin-top:25px;
    margin-bottom: 25px;
}

.player-panel:hover {
    border: 1px solid;
    box-shadow: 5px 10px 18px green;
}

/*transitional classes to be used with JS when clicked on*/
/*need to figure out how to animate this transition*/
.top-panel {
    order:1;
    height: 75px;
    width: 75px;
    transition: all .2s;
}
.bottom-panel {
    order:3;
    height: 75px;
    width: 75px;
    transition: all .2s;
}

.chosen-panel {
    width: 100%;
    height:300px;
    order: 2;
    transition: all .2s;

}

.chosen-panel:active {
    width:150px;
    height:150px;
}



/*some borders for debugging*/
/* .half-areas *{
    border: solid green;
} */